In [10]:
import pandas as pd

df = pd.read_csv("train.csv")
df.drop(columns=["Cabin", "Ticket", "Name", "PassengerId"], inplace=True)
df.dropna(subset=["Age", "Embarked"], inplace=True)
df["Sex"] = df["Sex"].map({"female": 1, "male": 0})
df["Embarked"] = df["Embarked"].map({"S": 0, "C": 1, "Q": 2})
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    0  22.0      1      0   7.2500         0
1           1       1    1  38.0      1      0  71.2833         1
2           1       3    1  26.0      0      0   7.9250         0
3           1       1    1  35.0      1      0  53.1000         0
4           0       3    0  35.0      0      0   8.0500         0
..        ...     ...  ...   ...    ...    ...      ...       ...
885         0       3    1  39.0      0      5  29.1250         2
886         0       2    0  27.0      0      0  13.0000         0
887         1       1    1  19.0      0      0  30.0000         0
889         1       1    0  26.0      0      0  30.0000         1
890         0       3    0  32.0      0      0   7.7500         2

[712 rows x 8 columns]

In [34]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(df.drop(columns=["Survived"]))

data_train = df.iloc[:500]
data_test = df.iloc[500:]

Y_train = data_train["Survived"]
X_train = scaler.transform(data_train.drop(columns=["Survived"]))

Y_test = data_test["Survived"]
X_test = scaler.transform(data_test.drop(columns=["Survived"]))

X_train

array([[1.        , 0.        , 0.27117366, ..., 0.        , 0.01415106,
        0.        ],
       [0.        , 1.        , 0.4722292 , ..., 0.        , 0.13913574,
        0.5       ],
       [1.        , 1.        , 0.32143755, ..., 0.        , 0.01546857,
        0.        ],
       ...,
       [0.        , 0.        , 1.        , ..., 0.        , 0.0585561 ,
        0.        ],
       [1.        , 0.        , 0.63558683, ..., 0.        , 0.01376888,
        0.        ],
       [0.        , 0.        , 0.39683338, ..., 0.        , 0.05953204,
        0.5       ]])

In [35]:
from sklearn.svm import SVC
from itertools import product

max_score = 0
max_C = None
max_kernel = None

# trouver le C et kernel (linear, rbf, sigmoid) pour avoir le meilleur score 
for kernel, C in product(["rbf", "sigmoid"], [0.2, 1, 4, 10, 20]):
    cls = SVC(C=C, kernel=kernel)
    cls.fit(X_train, Y_train)

    # cls.predict(X_test)
    score = cls.score(X_test, Y_test)
    if score > max_score:
        max_score = score
        max_C = C
        max_kernel = kernel

    print(f"C = {C}, kernel = {kernel}, score = {score}")
    
print(f"MEILEURS RESULTATS : C = {max_C}, kernel = {max_kernel}, score = {max_score}")

C = 0.2, kernel = rbf, score = 0.8066037735849056
C = 1, kernel = rbf, score = 0.7971698113207547
C = 4, kernel = rbf, score = 0.8160377358490566
C = 10, kernel = rbf, score = 0.8018867924528302
C = 20, kernel = rbf, score = 0.7971698113207547
C = 0.2, kernel = sigmoid, score = 0.75
C = 1, kernel = sigmoid, score = 0.6981132075471698
C = 4, kernel = sigmoid, score = 0.6509433962264151
C = 10, kernel = sigmoid, score = 0.660377358490566
C = 20, kernel = sigmoid, score = 0.6650943396226415
MEILEURS RESULTATS : C = 4, kernel = rbf, score = 0.8160377358490566

In [36]:
from sklearn.neighbors import KNeighborsClassifier as KNN

max_score = 0
max_n = None

# faire un boucle pour trouver le n_neighbors qui donne le meilleur score
for n in range(10):
    cls = KNN(n_neighbors=n*2+1)
    cls.fit(X_train, Y_train)

    # cls.predict(X_test)
    score = cls.score(X_test, Y_test)
    if score > max_score:
        max_score = score
        max_n = 2*n+1
    print(f"n = {n} score = {score}")

n = 0 score = 0.7216981132075472
n = 1 score = 0.7924528301886793
n = 2 score = 0.7924528301886793
n = 3 score = 0.8113207547169812
n = 4 score = 0.8113207547169812
n = 5 score = 0.8207547169811321
n = 6 score = 0.8113207547169812
n = 7 score = 0.8066037735849056
n = 8 score = 0.8018867924528302
n = 9 score = 0.8018867924528302

In [28]:
max_n

7