In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([
    {"prenom": "Martin", "nom": "Dussier", "age": 32},
    {"prenom": "Martine", "nom": "Dussier", "age": 22},
    {"prenom": "Martina", "nom": "Dussier", "age": 42},
    {"prenom": "Mart", "nom": "Dussier", "age": 35},
    {"prenom": "Marta", "nom": "Dussier", "age": 2},
])

In [6]:
df

    prenom      nom  age
0   Martin  Dussier   32
1  Martine  Dussier   22
2  Martina  Dussier   42
3     Mart  Dussier   35
4    Marta  Dussier    2

In [5]:
df.columns

Index(['prenom', 'nom', 'age'], dtype='object')

In [7]:
len(df)

5

In [8]:
df.describe()

             age
count   5.000000
mean   26.600000
std    15.517732
min     2.000000
25%    22.000000
50%    32.000000
75%    35.000000
max    42.000000

In [ ]:
df = pd.read_csv("train.csv")